<link rel="stylesheet" href="/css/home.css">


<div class="container">
    <h1>Home Page</h1>
    <br>
    <hr>
    <br>
    <div class="all-home-container">
        <div class="student-home">
            <a href="/students/home">
                <img src="/images/students.png" alt="students-logo">
                <p>Student</p> 
            </a>    
        </div>
        
        <div class="interview-home">

            <a href="/interviews/home">
                <img src="/images/interview.png" alt="interview-logo">
                <p>Interview</p> 
            </a>
        </div>
        
        <div class="company-home">
            <a href="/companies/home">
                
                <img src="/images/company.png" alt="company-logo">
                <p>Company</p>
            </a>
        </div>
    </div>
    
</div>