#main-div-students {
    margin-top: 2%;
    margin: auto;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    h1 {
        text-align: center;
        padding-top: 1%;
        color: #333;
    }

    h2{
        color: #00ADB5;
        margin-left: 40%;

    }

    #headings {
        width: 50%;
        height: 3vh;
        display: flex;
        align-items: center;
      
        p {
          margin: 0;
          margin-left: 5%;
          margin-right: 8%;
          font-weight: bold;
          color: #333; /* Darker text color */
        }
        .status{
          margin-left: 3rem;
        }
        .final-score{
          margin-left: 6rem;
        }
      }
      
      form {
        display: flex;
        flex-wrap: wrap; /* Allow form elements to wrap to the next line */
        justify-content: space-between; /* Space elements evenly between headings */
        padding: 2%;
        align-items: flex-start; /* Align form elements to the top */
        margin-top: 20px; /* Add margin to separate form from table */
      
        input {
            margin-top: 0.25em;
            width: 7em;
        }
      
        select,
        button {
          width: 15%;
          height: 30px;
          padding: 5px;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      
        button {
          background-color: #00ADB5;
          width: 5em;
          color: #EEEEEE;
          border: none;
          cursor: pointer;
          transition: background-color 0.3s ease; /* Smooth background color transition on hover */
        }
      
        button:hover {
          background-color: #393E46; /* Darker background color on hover */
        }
      }
      
    #csv-button{
      height: 30px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #00ADB5;
      color: #EEEEEE;
      border: none;
      cursor: pointer;
        transition: background-color 0.3s ease;
      a{
        text-decoration: none;
      }
    }

    #csv-button:hover {
      background-color: #393E46;
    }


    /* Add styling for the table */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        th, td {
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #00ADB5;
            color: #EEEEEE;
        }

        td {
            background-color: #393E46;
            color: #EEEEEE;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        tbody{
          tr{
            td{
              padding: 15px;
              white-space: nowrap;
            }
          }
        }

        button{
            // width: 15%;
            height: 30px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #00ADB5;
            color: #EEEEEE;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease; /* Smooth background color transition on hover */

            a{
                text-decoration: none;
            }
        }
        button:hover {
            background-color: #393E46; /* Darker background color on hover */
          }
        }
}
